body
{
    background-color: beige;
}
a
{
    color:cadetblue;
}
.prog-team
{
    color:#1A1E3F;
    position:relative;
    top:-90px;
    left:100px;
}
.link
{
    position:relative;
    top:-50px;
}
.link1
{
    position:relative;
    top:-50px;
    left:10px;
}
.link2
{
    position:relative;
    top:-50px;
    left:20px;
}
.link3
{
    position:relative;
    top:-50px;
    left:30px;
}
.link4
{
    position:relative;
    top:-50px;
    left:40px;
}
